body {
    background-color: black;
    color: white;
    text-align: center;
}

.hero {
    max-height: 300px;   
    text-align: center;
    background: radial-gradient(black, #39FF14);
    align-items: center;
    display: block;
}

h1 {
    padding-top: 15px;
    font-size: 6em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #39FF14,
    0 0 21px #39FF14,
    0 0 42px #39FF14,
    0 0 82px #39FF14,
    0 0 92px #39FF14,
    0 0 102px #39FF14,
    0 0 151px #39FF14;
}

.app {
    height: 60vh;
}

form {
    margin-top: 25px;
    max-width: 500px;
    max-height: 1000px;
    padding: 50px;
    border: 5px solid white;
    border-radius: 10px;
    display: inline-block;
    font-size: 1em;
    background: rgb(54, 53, 53);
}

.checkboxes {
    width: 250px;
    text-align: center;
    display: inline-block;
}

.custom-control-input:checked {
    background: #39FF14;
}

#slider {
    max-width: 250px;
   
}

#slider::-webkit-slider-thumb {
    background: #39FF14;
}
  
.slider::-moz-range-thumb {
    background: #39FF14;
}
  
.slider::-ms-thumb {
    background: #39FF14;
}

#sliderValue {
    color: #39FF14;
}



textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    height: 40%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 85px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
    color: black;
}

#error-message {
    font-size: 1em;
    color: red;
}

.btn {
    background-color: #39FF14;
    color: black;
}

.btn:hover {
    background-color: white;
    color: black;
    box-shadow: 3px 3px 10px white;
}

@media screen and (max-width: 900px) {
    h1 {
      font-size: 4.75em;
    }
}

@media screen and (max-width: 800px) {
    h1 {
      font-size: 4.5em;
    }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 4em;
  }
  form, .app {
    max-width: 500px;
    margin: 0;
    padding: 5px;
    display: block;
    text-align: center;
    
}
  textarea {
    width: 300px;
    height: 200px;
    margin-bottom: 15px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;


  }
  #min, #max {
    display: none;
  }
}

@media screen and (max-width: 280px) {
    h1 {
      font-size: 3em;
    }
    form, .app {
        max-width: 280px;
        margin: 0;
        padding: 5px;
    }

    textarea {
        width: 250px;
        height: 200px;
        margin-bottom: 15px;
        padding: 5px;
    }

    #min, #max {
        display: inline-block;
    }
  }
  
